@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

body {
  font-family: 'Poppins';
  font-weight: 400;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

:root[data-theme="light"] {
  --text: #1b0d1c;
  --background: #f0f0f0;
  --primary: #2c2f63;
  --secondary: #cab286;
  --accent: #809041;
}
:root[data-theme="dark"] {
  --text: #f1e3f2;
  --background: #0f0f0f;
  --primary: #9c9fd3;
  --secondary: #796135;
  --accent: #aebe6f;
}
