// COLORS
$color-primary: #f44336;
$color-secondary: #ff9800;
$color-accent: #ffc107;

$color-success: #4caf50;
$color-pending: #2196f3;
$color-warning: #ffeb3b;
$color-error: #f44336;

$color-text: #bdbdbd;
